<h1>Cart</h1>

<a href="/api/products" class="carritoInProduct">Productos</a>

<div class="container">
    {{#each products}}
    <div class="card">
        <h3>{{ this.product.title }}</h3>
        <img src="{{ this.product.thumbnail }}" onerror="this.src='/asset/no-image.jpg'" alt="" />
        <p>{{ this.product.description }}</p>
        {{#if this.product.price}}
        <span>Price: $ {{ this.product.price }}</span>
        {{else}}
        <span>Free</span>
        {{/if}}
        <p>{{ this.quantity }} productos agregados</p>
        <button class="deleteProd" productId={{this.product._id}} cid="{{../cid}}">Eliminar</button>
    </div>
    {{/each}}
</div>

{{#if flag}}
<div class="buttonPay">
    <button class="payProducts" cartId="{{cid}}">Pagar</button>
</div>
{{/if}}



<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/cart.js"></script>