<h1>Perfil de usuario</h1>

<div>
    <h2>{{user.first_name}} {{user.last_name}}</h2>
    {{#unless showButton}}
    <form action="/current/create">
        <button type="submit">Mis productos</button>
    </form>
    {{/unless}}
    <p>E-Mail: {{user.email}}</p>
    <p>Edad: {{user.age}}</p>
    <p>Rol: {{user.role}}</p>
    <p>Cuenta creada: {{user.createdAt}}</p>
</div>

{{#if showButton}}
<button class="button" id="premium" userId="{{user._id}}">Activar Premium</button>
<p>Con una cuenta premium podrás publicar tus productos!</p>
{{/if}}

<form action="/api/products">
    <button type="submit">Volver</button>
</form>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/profile.js"></script>