<h1>Home</h1>

<div class="buttonsProfile">
    <form action="/auth/login">
        <button type="submit">Iniciar Sesión</button>
    </form>
</div>

<div class="container">
    {{#each serializedProducts}}
    <div class="card">
        <h3>{{this.title}}</h3>
        <img src="{{this.thumbnail}}" onerror="this.src='/asset/no-image.jpg'" alt="Product">
        <p>{{this.description}}</p>
        {{#if this.price}}
        <span>Price: ${{this.price}}</span>
        {{else}}
        <span>Free</span>
        {{/if}}
    </div>
    {{/each}}
</div>
<div class="prevNext">
    {{#if prevLink}}
    <a href={{prevLink}} class="prev">Anterior</a>
    {{/if}}

    {{#if nextLink}}
    <a href={{nextLink}} class="next">Siguiente</a>
    {{/if}}
</div>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/products.js"></script>