<h1>Products</h1>

{{#unless verified}}
<div class="buttonsProfile">
    <p>Para agregar productos al carrito, primero debes verificar tu E-Mail <br> Si no recibiste el E-Mail intenta
        nuevamente.</p>

    <button type="submit" id="verifyEmail" userId="{{user._id}}">Reenviar E-Mail</button>
</div>
{{/unless}}
<div class="buttonsProfile">

    {{#if userAdmin}}
    <form action="/realtimeproducts">
        <button type="submit">Administrar productos</button>
    </form>
    {{/if}}

    {{#if userPremium}}
    <form action="/current/create">
        <button type="submit">Mis productos</button>
    </form>
    {{/if}}

    {{#if user}}
    <form action="/current/profile">
        <button type="submit">Perfil</button>
    </form>
    {{/if}}

    {{#if user}}
    <form action="/login" id="logout">
        <button type="submit">Cerrar Sesión</button>
    </form>
    {{/if}}

    {{#unless user}}
    <form action="/auth/login">
        <button type="submit">Iniciar Sesión</button>
    </form>
    {{/unless}}
</div>

{{#if cid}}
<a href="/api/carts/{{cid}}" class="carritoInProduct">Carrito</a>
{{/if}}

<div class="container">
    {{#each serializedProducts}}
    <div class="card">
        <h3>{{this.title}}</h3>
        <img src="{{this.thumbnail}}" onerror="this.src='/asset/no-image.jpg'" alt="Product">
        <p>{{this.description}}</p>
        {{#if this.price}}
        <span>Price: ${{this.price}}</span>
        {{else}}
        <span>Free</span>
        {{/if}}
        {{#if ../verified}}
        <button class="addToCart" productId="{{this._id}}" cartId="{{../cid}}">Agregar al Carrito</button>
        {{else}}
        {{/if}}
        {{#if this.createdBy}}
        <p>Publicado por: {{this.createdBy}}</p>
        {{/if}}
    </div>
    {{/each}}
</div>
<div class="prevNext">
    {{#if prevLink}}
    <a href={{prevLink}} class="prev">Anterior</a>
    {{/if}}

    {{#if nextLink}}
    <a href={{nextLink}} class="next">Siguiente</a>
    {{/if}}
</div>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/products.js"></script>